<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?ifdef env.APPVEYOR ?>
    <?include GitVersion_WixVersion.wxi ?>
  <?else ?>
    <?define AssemblySemFileVer="1.28.0.0" ?>
  <?endif ?>

  <?if $(var.Platform)=x64 ?>
    <?define win64Flag = "yes" ?>
    <?define ProgramFilesFolder="ProgramFiles64Folder"?>
    <?ifdef env.APPVEYOR ?>
      <?define PlatformSpecialFolder="x64\"?>
    <?else ?>
      <?define PlatformSpecialFolder=""?>
    <?endif ?>
  <?else ?>
    <?define win64Flag = "no" ?>
    <?define ProgramFilesFolder="ProgramFilesFolder"?>
    <?ifdef env.APPVEYOR ?>
      <?define PlatformSpecialFolder="x86\"?>
    <?else ?>
      <?define PlatformSpecialFolder=""?>
    <?endif ?>
  <?endif ?>

  <Product Id="*" Name="Image Sort" Language="1033" Version="$(var.AssemblySemFileVer)" Manufacturer="Lolle2000la" UpgradeCode="89fb2dc9-f60b-4a6a-93fb-3aba2eee9d82">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="Image Sort installer"
             Manufacturer="Lolle2000la"/>

		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Image Sort" Level="1" ConfigurableDirectory="INSTALLFOLDER">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <UIRef Id="WixUI_InstallDir"/>
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="Image Sort" />
      </Directory>
      <Directory Id="StartMenuFolder" Name="StartMenu"/>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
       <!--<Component Id="ProductComponent" Guid="B839CE01-30EC-431F-AD54-1521B29E65DE"> 
       </Component>-->
      <Component Id="LicenseComponent" Guid="9B1F604F-1FA3-43BF-9EB0-E71565ADE974">
        <File Id="LicenseRtf" Name="License.rtf" Source="License.rtf" KeyPath="yes"/>
      </Component>
      <Component Id="ImageSortExeComponent" Guid="036C3C1A-FA77-46CD-97F9-26653E110D8F">
        <File Id="ImageSortExe" Name="Image Sort.exe" Source="..\ImageSort.WPF\bin\$(var.PlatformSpecialFolder)$(var.Configuration)\netcoreapp3.1\win-$(var.Platform)\publish\Image Sort.exe"
              KeyPath="yes">
          <Shortcut Id="StartMenuShortcut" Directory="StartMenuFolder" Name="Image Sort"
                    WorkingDirectory="INSTALLFOLDER" Advertise="yes"/>
          <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="Image Sort"
                    WorkingDirectory="INSTALLFOLDER" Advertise="yes"/>
        </File>
      </Component>
      <ComponentGroupRef Id="SourceComponentGroup" />
    </ComponentGroup>
  </Fragment>
</Wix>
